@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Raleway", sans-serif;
}
.text-green{
    color: #1DD100;
}
.bg-green{
    background-color: #1DD100;
}
.banner-hero {
    background-image: url(../images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}